---
import Header from '../components/Header.astro';
import ExecCard from '../components/Exec-Card.astro';
import Committee from '../components/Committee.astro';
import Footer from '../components/Footer.astro';
import json from '../data.json';
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/assets/logo.png" />
		<title>{json.sitesettings.title}</title>
		<script src="https://kit.fontawesome.com/e361a64e1e.js" crossorigin="anonymous"></script>
	</head>
	<body class="bg-grey">
		<Header/>
		<main>
			<section id="welcome-text">
				<div class="mx-48">
					<h2 class="py-3 font-bold text-white font-sans text-4xl">{json.welcometext.welcome}</h2>
					<p class="px-12 py-3 text-white font-sans text-xl">{json.welcometext.desc}</p>
				</div>
			</section>
			<section id="about-us">
				<div class="mx-96 my-24 flex justify-between">
					<div class="flex flex-col justify-center">
						<h2 class="py-3 font-bold text-white font-sans text-4xl">{json.about.title}</h2>
						<p class="py-3 text-white font-sans text-xl">{json.about.desc}</p>
					</div>
					<div>
						<img class="object-cover max-h-screen" src="/assets/logo.png"/>
					</div>				
				</div>
			</section>
			<section id="committee">
				<div class="mx-48 my-24">
					<h2 class="py-3 font-bold text-white font-sans text-4xl">{json.committee.title}</h2>
					<p class="py-3 text-white font-sans text-xl">{json.committee.desc}</p>
					<div class="flex flex-col">
						<p class="py-8 font-bold text-white font-sans text-3xl flex justify-center">{json.committee.exec.title}</p>
						<div class="mx-24 grid grid-cols-2 gap 4">
							<ExecCard
								imagePath="/assets/logo.png"
								title={json.committee.exec.pres.title}
								name={json.committee.exec.pres.name}
								desc={json.committee.exec.pres.desc}
							/>
							<ExecCard
								imagePath="/assets/logo.png"
								title={json.committee.exec.vp.title}
								name={json.committee.exec.vp.name}
								desc={json.committee.exec.vp.desc}
							/>
							<ExecCard
								imagePath="/assets/logo.png"
								title={json.committee.exec.sec.title}
								name={json.committee.exec.sec.name}
								desc={json.committee.exec.sec.desc}
							/>
							<ExecCard
								imagePath="/assets/logo.png"
								title={json.committee.exec.tres.title}
								name={json.committee.exec.tres.name}
								desc={json.committee.exec.tres.desc}
							/>
						</div>
						<div class="mx-24">
							<p class="py-8 font-bold text-white font-sans text-3xl flex justify-center">Sub Committee</p>
							<div class="flex flex-col">
								<Committee name="person 1"/>
								<Committee name="person 2"/>
								<Committee name="person 3"/>
								<Committee name="person 4"/>
								<Committee name="person 5"/>
								<Committee name="person 6"/>
							</div>
						</div>
					</div>
				</div>
			</section>
		</main>
		<Footer/>
	</body>
</html>
