---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import ExecCard from '../components/Exec-Card.astro';
import Committee from '../components/Committee.astro';
import json from '../data.json';
---
<!DOCTYPE html>
<html class="2xl:text-[20px]" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="logo.png" />
    <title>{json.sitesettings.title}</title>
  </head>
  <body class="bg-grey1 font-sans">
    <Header/>
    <section id="welcome-text" class="relative h-screen bg-[url('background.jpg')] bg-center">
      <a id="home" class="block relative top-[-50px]"></a>
      <div class="relative flex flex-col gap-4 px-4 sm:px-12 lg:px-24 xl:px-48 h-[90%] items-center justify-center">
        <div class="flex flex-col md:flex-row gap-4 items-center justify-center">
          <div class="self-start md:self-center">
            <h2 class="py-3 text-center md:text-left font-bold text-white font-sans text-3xl sm:text-4xl">{json.sitesettings.title}</h2>
            <p class="text-center text-white md:text-left text-sm sm:text-xl">{json.welcometext.desc}</p>
          </div>
          <img class="self-center max-w-[50%] md:max-w-[40%] lg:max-w-xs order-first md:order-last" src="logo.png"/>
        </div>
        <div class="flex flex-row gap-4 md:gap-12 md:text-[20px]">
          <a href={json.links.linkedin} target="_blank"><img src="linkedin.svg" class="w-[24px] md:w-[38px] h-[24px] md:h-[38px]"/></a>
          <a href={json.links.github} target="_blank"><img src="github.svg" class="w-[24px] md:w-[38px] h-[24px] md:h-[38px]"/></a>
          <a href={json.links.discord} target="_blank"><img src="discord.svg" class="w-[24px] md:w-[38px] h-[24px] md:h-[38px]"/></a>
          <a href={json.links.instagram} target="_blank"><img src="instagram.svg" class="w-[24px] md:w-[38px] h-[24px] md:h-[38px]"/></a>
        </div>
      </div>
    </section>
    <section>
      <a id="about" class="block relative"></a>
      <div class="flex flex-col justify-centerpx-4 sm:px-12 lg:px-24 xl:px-48 py-24">
        <h2 class="py-3 text-center md:text-left font-bold text-white font-sans text-2xl sm:text-3xl">{json.about.title}</h2>
        <p class="py-3 text-white font-sans text-center md:text-left text-sm sm:text-xl">{json.about.desc}</p>
        <p class="py-3 text-white font-sans text-center md:text-left text-sm sm:text-xl">{json.about.descCont}</p>
        <p class="py-3 text-white font-sans text-center text-sm sm:text-lg">{json.about.discord}</p>
        <a href={json.links.discord} target="_blank" class="self-center py-1 px-2 text-red1 bg-bd rounded-md border-2 border-red transition duration-250 hover:bg-red2">Join MITS Discord</a>
      </div>
    </section>
    <section>
      <a id="committee" class="block relative top-[-50px]"></a>
      <div class="px-4 sm:px-12 lg:px-24 xl:px-48 py-12">
        <h2 class="py-3 text-center md:text-left font-bold text-white font-sans text-2xl sm:text-3xl">{json.committee.title}</h2>
        <p class="py-3 text-white font-sans text-center md:text-left text-sm sm:text-xl">{json.committee.desc}</p>
        <div class="flex flex-col">
          <p class="py-8 font-bold text-white text-center font-sans text-xl sm:text-2xl">{json.committee.exec.title}</p>
          <div class="grid md:grid-cols-2">
            <ExecCard
              imagePath="placeholder-img.jpg"
              title={json.committee.exec.pres.title}
              name={json.committee.exec.pres.name}
              desc={json.committee.exec.pres.desc}
            />
            <ExecCard
              imagePath="placeholder-img.jpg"
              title={json.committee.exec.vp.title}
              name={json.committee.exec.vp.name}
              desc={json.committee.exec.vp.desc}
            />
            <ExecCard
              imagePath="placeholder-img.jpg"
              title={json.committee.exec.sec.title}
              name={json.committee.exec.sec.name}
              desc={json.committee.exec.sec.desc}
            />
            <ExecCard
              imagePath="placeholder-img.jpg"
              title={json.committee.exec.tres.title}
              name={json.committee.exec.tres.name}
              desc={json.committee.exec.tres.desc}
            />
          </div>
          <div>
            <p class="py-8 font-bold text-white font-sans text-xl sm:text-2xl flex justify-center">Sub Committee</p>
            <div class="flex flex-col">
              <div>
                <h1 class="text-white text-lg font-bold my-4 flex justify-center">General Committee Members</h1>
                <Committee name="Placeholder Name"/>
                <Committee name="Placeholder Name"/>
              </div>
              <div>
                <h1 class="text-white text-lg font-bold my-4 flex justify-center">First Year Representatives</h1>
                <Committee name="Placeholder Name"/>
                <Committee name="Placeholder Name"/>
              </div>
              <div>
                <h1 class="text-white text-lg font-bold my-4 flex justify-center">Social Media Manager</h1>
                <Committee name="Placeholder Name"/>
              </div>
              <div>
                <h1 class="text-white text-lg font-bold my-4 flex justify-center">Events Manager</h1>
                <Committee name="Placeholder Name"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <Footer/>
  </body>
</html>
